.menu {
  display: flex;
  gap: 15px;
  list-style: none;
  background: rgb(39, 39, 39);
  padding: 15px 5vw;

  .menu-item {
    a {
      color: white;
      font-size: 18px;
      text-decoration: none;
      font-weight: normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
