.tags {
  margin-top: 20px;

  em {
    margin-right: 10px;
    background: bisque;
    border-radius: 3px;
    padding: 5px 10px;
  }
}

.likes {
  font-size: 1.2em;
  padding: 10px 0;
  font-weight: bold;
  margin-top: 20px;
}
